.table-container {
  margin-top: 20px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

}

th {
  padding: 10px;
  text-align: center;
  border-bottom: 5px solid white;
}

td {
  padding: 20px;
  text-align: center;
  background-color: #f3f3f3;
}

tbody tr {
  padding: 20px;
  border-bottom: 5px solid white;
}

.buttons-table {
  display: flex;

  button {
    border: 0;
    cursor: pointer;
  }
}